body{
  background-color: rgb(0, 0, 0);
}
#main{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
#inner{
  width: 70%;
  height: auto;
  margin-top: 5%;
}
#content{
  color: black;
}
#top{
  margin-bottom: 1%;
  display: flex;
  justify-content: right;
}
#btnAddNewEmployee{
  color: white;
  height: 40px;
  width: auto;
  border-radius: 10px;
  background-color: #019ed1;
  border-color: rgb(3, 120, 216);
  padding: 0px 10px 0px 10px;
  font-weight: bolder;font-size: 90%;
}
#bottom{
  background-color: rgb(202, 204, 198);
}
#employeeTable{
  width: 100%;
  text-align: left;
  border: 1px solid gray;
}
th,td{
  padding: 0.5%;
}
tr:nth-child(even) {
  background-color: #ffffff;
}
tr:nth-child(odd) {
  background-color: #cecece;
}

.tdButton{
  padding-top: 1.3%;
  padding-bottom: 1.2%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
#btnEditEmployee{
  height: 30px;
  width: 30%;
  font-weight: bolder;
  background-color: inherit;
  color: rgb(13, 211, 6);
  border: none;
  padding: 0px 4px 0px 4px;
  margin: 0px 2px 1px 2px;
}
tr{
  height: 80px;
}
#btnDeleteEmployee{
  height: 30px;
  width: 30%;
  font-weight: bolder;
  color: rgb(146, 5, 5);
  background-color: inherit;
  border: none;
  border-radius: 5px;
  padding: 0px 4px 0px 4px;
  margin: 1px 2px 0px 2px;
}





@media screen and (max-width: 860px) {
  #inner{
    width: 85%;
    height: auto;
  }
}
@media screen and (max-width: 710px) {
  #content{
    font-size: 85%;
  }
}
@media screen and (max-width: 620px) {
  #content{
    font-size: 80%;
  }
  #btnEditEmployee{
    font-size: 80%;
  }
  #btnDeleteEmployee{
    font-size: 80%;
  }
}
@media screen and (max-width: 580px) {
      #content {
        font-size: 75%;
      }

      #inner{
        width: 90%;
        height: auto;
    }
}
  @media screen and (max-width: 515px) {
    #content {
      font-size: 70%;
    }

    #inner{
      width: 90%;
      height: auto;
  }
}
@media screen and (max-width: 485px) {
  #content {
    
    font-size: 60%;
  }

  #inner{
    width: 100%;
    height: auto;
    font: 40%;
  }
}
@media screen and (max-width: 400px) {
  #content {
    font-size: 55%;
  }
}
@media screen and (max-width: 370px) {
  #content {
    font-size: 50%;
  }
  .tdButton{
    display: inline;
  }
  #btnEditEmployee{
    font-size: 40%;
    width: 100%;
  }
  #btnDeleteEmployee{
    font-size: 40%;
    width: 100%;
  }
}