#formPopup{
    border-radius: 15px 15px 0px 0px;
    background-color: silver;
    width: 40%;
    padding-bottom: 2px;
    position: fixed;
    margin: 10vh;
}
#formHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    padding: 2% 4% 1% 4%;
    color: white;
    background-color: rgb(32, 32, 32);
    border-radius: 15px 15px 0px 0px;
}
.X{
    color: white;
}
.X:hover{
    color: red;
}
#formFooter{
    margin: 0% 5% 2% 5%;
    display: flex;
    justify-content: center;
}
#formTitle{
    width: 90%;
}
#formX{
width:5%;
color: red;
}
#formContent{
    font-size: 90%;
    padding: 0% 4% 0% 4%;
}

.left{
    float: left;
    padding-top: .5%;
    width: 25%;
}
.right{
    width: 75%;
}
.flexItem{
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;
}
.textField{
    width: 95%;
    height: 20px;
    padding: 1% 2% 1% 2%;
    font-size: 100%;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(228, 225, 225);
}
#status{
    height: 20px;
    width:20px;   
}
.status{
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 30px;
    color: rgb(0, 0, 0);
}
.flex{
    display: flex;
    height: 30px;
}
.btnRadio{
    width: 10%;;
    font-size: 100%;
}
.error{
    color: red;
    font-style: italic;
    font-size: small;
}
.h30px{
    padding: 1% 2% 1% 2%;
}
#province{
    width: 100%;
    height: 30px;
    padding: 1% 2% 1% 2%;
    font-size: 100%;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(228, 225, 225);
}
.provinceOption{
    display: inherit;
    color: rgb(114, 40, 40);
}
select>option{
    width: inherit;
}
select>option{
    color: black;
}
#btnSubmit{
color: rgb(255, 255, 255);
background-color: rgb(35, 129, 216);
border-radius: 10px;
border-color: rgb(6, 93, 173);
}
#btnCancel{
    color: #ffffff;
    background-color: #868e80;
    border-radius: 10px;
    border-color: #868e99;
}
.formButton{
    height: 35px;
    width: 30%;
    font-weight: bold;
    margin: 0% 5% 0% 5%;
}





@media screen and (max-width: 1900px) {
    #formPopup{
        width: 40%;
        margin-top: 5vh;
    }
}
@media screen and (max-width: 860px) {
    #formPopup{
        width: 50%;
        margin-top: 5vh;
    }
}
@media screen and (max-width: 760px) {
    #formPopup{
        width: 60%;
        margin-top: 5vh;
    }
    .btnRadio{
        display: inline;
    }
}
@media screen and (max-width: 560px) {
    #formPopup{
        width: 70%;
        margin-top: 5vh;
    }
}
@media screen and (max-width: 460px) {
    #formPopup{
        width: 80%;
        margin-top: 5vh;
    }
}
@media screen and (max-width: 400px) {
    #formPopup{
        width: 90%;
        margin-top: 5vh;
    }
    .flexItem{
        display: inline;
    }
    
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
}
@media screen and (max-width: 376px) {
    #formPopup{
        width: 90%;
        margin-top: 5vh;
        font-size: 100%;
    }
    .flexItem{
        display: inline;
    }
}
@media screen and (max-width: 300px) {
    #formPopup{
        width: 100%;
        margin-top: 5vh;
    }
}